{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>산들 SANDLE - 고객 확인</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
    <div class="login_image" align="center">
        <img src="/static/images/logo.png" alt="logo" width="30%" style="margin-top: 124px;">
        <div class="login-ment">
            로그인 성공!<br>
            {{ user.username }} 님 환영합니다.<br><br>
            <a href="{% url 'goods' %}"><input type="submit" value="로그인"></a>
        </div>
    </div>
	{% else %}
    <div class="loginbox" align="center">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="login_image">
                <img src="/static/images/logo.png" alt="logo" width="30%" style="margin-top: 124px;">
                <div>
                    <div class="login-page" style="padding-top: 20px;">
                        <div class="form">
                            <form class="login-form">
                                <input type="username" id="username" name="username" placeholder="건물번호" /><br>
                                <input type="password" id="password" name="password" placeholder="비밀번호" /><br>
                                <button type="submit" value="login">물품 픽업하기</button>
                            </form>
                        </div>
                    </div>
                    
                    <!-- <div style="text-align:center; display:inline-block;">
                        <canvas id='canvas' width="325" height="325"></canvas>
                    </div>
                    <br><br>
                    <button onclick="refresh()">새로고침</button> -->
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</body>
</html>

<script src="{% static 'keypad.js' %}"></script>


<!--
<html>
<head>
<title>키패드</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
</head>
<body style="text-align: center;padding: 5rem;">

    <div style="display: inline-block;width: 325px;height: 325px;">
        <canvas id='canvas'  width="325" height="325"></canvas>
    </div>
    <br><br>
    
    <div id='target' style='border : 1px solid gray; padding: 1rem;'></div>
    <button onclick="refresh()">리프레쉬</button>

</body>
</html>


<script src='keypad.js'></script>
-->