{% block content %}
{% load static %}

<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>산들 SANDLE - 배달 완료</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/complete.css' %}">
</head>

<body>
    <br>
    <hr width = "190px" color = "#184b9c" size = "3" style="margin-left: 15px;">
    <div id="grid" style="text-align: center; margin-top: 200px;">
        <div class="check">
            <h1>산들 SANDLE</h1>
            <h1>음식을 주문하셨나요?</h1>
            <a href="goods">
                <button type="button" onclick="location.href='goods.html'">
                    <img src="/static/images/logo.png" alt="check" width="400px" style="padding-left: 0px;">
                </button>
            </a>
        </div>
    </div>
</body>
{% endblock %}
</html>