{% block content %}
{% load static %}

<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>산들 SANDLE - 상품</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/goods.css' %}">
</head>

<body>
	<div class="container">
		<h1 style="color: #8DB72A;">주문 상품</h1>
		<hr width = "190px" color = "#184b9c" size = "3" style="margin-left: 15px;">
		<br><br>
		<form>
		<fieldset>
			<legend style="color: #888B81;">
				<h1>가게명</h1><p>
				<h1>온유</h1> <!-- admin에서 입력받은 대로 가게명 바꿀 수 있게 하기 -->
			</legend>
			<ul><ul><ul><ul><ul><ul>
	
		<div class="grid" style="text-align: center;">
			<div class="goods_image" style="float: left; padding: 80px;">
				<img src="/static/images/porkbelly.jpg" alt="goods_2" width="215px">

				<h4>목우촌 프로포크 삼겹살</h4>
				<br><font color="gray">100g당</font>
				<p><h4>￦2,700</h4></p>
				<input type="submit" value="담기" a hraf="http://127.0.0.1:8000/complete"></a>
			</div>
		</fieldset>
	</div>
</body>
</html>
{% endblock %}